body{
    height: 800px;
    width: 700px ;
    margin: 80px auto;
    background-color: rgb(226, 247, 255);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
} 
.pic{
    background-color:antiquewhite;
    border-radius: 35px;
    filter: grayscale(100%);

    transition: filter  0.5s ease-in-out;
    overflow:hidden;
}
.pic:hover{
    filter: grayscale(0%);
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover ;


}

.pic.pic1{
background-color: rgb(80, 222, 170);
grid-row: 1/3;
}
.pic.pic2{
background-color: rgb(155, 165, 42);
grid-row: 1/4;
}
.pic.pic3{
background-color: rgb(155, 42, 165);
}
.pic.pic4{
background-color: rgb(255, 132, 0);
grid-row: 2/4;

}
.pic.pic5{
background-color: rgb(255, 0, 0);
grid-row: 3/5;

}
.pic.pic6{
 background-color: rgb(68, 255, 0);
grid-column: 2/4;

}